.home {
    margin-top: 50px; 
    margin-left: 50px;
    text-align: left; 
    font-family: Ubuntu;
    color: #FFFFFF;
    display: grid;
    grid-gap: 20px;
  }

.album-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

.album-grid .album-item {
  margin-right: 10px; 
  display: inline-block;
  margin-right: 20px;
}

.album-carousel .album-group {
  overflow-x: auto;
  display:inline-block;
  transform: scale(0.75);
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

  .featured-albums {
    margin-bottom: 100px; 
    text-decoration: underline;
  }
  
  .discoveries {
    margin-bottom: 100px; 
    text-decoration: underline;

  }
  
  .new-releases {
    margin-bottom: 100px; 
    text-decoration: underline;
  }